body{
    background: #e6e6e6;
}
nav.navbar{
    background:#3e5b8c;
}

#footer{
    background: #263652;
    position: relative;
    bottom: 0;
    width: 100%;
}

#recent-works{
    padding: 0;
}

.content-container{
    background: #fff;
    padding-bottom: 100px;
    min-height: 481px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #263652
}

.navbar-inverse .navbar-nav .dropdown-menu{
    background: #263652
}

.navbar-inverse .navbar-nav > li.dropdown{
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a{
    background:#3e5b8c;
}

h1{
    text-align: center;
    color:#333;
}

.event-details {
  padding: 10px;
}

.capacity {
  float: left;
}

.rsvp {
float: right;
}

.recent-work-wrap {
  height: 15em;
  overflow: hidden;
}
.portfolio-item {
  padding: 0 0 8% 0;
}

.recent-work-wrap .overlay {
    background-color: rgba(128, 128, 128, 0.45);
}

.navbar-logo {
  background-image: url(/images/logo.png);
  background-size: 130px 36px;
  width: 130px;
  height: 36px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

  .navbar-logo {
    background-image: url(/images/logo-hires.png);
    background-size: 130px 36px;
  }

}

.event-image{
    width: 100%;
}
.choose-image{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

#google-map{
    margin-top: 20px;
    height: 270px;
}

.event-pictures .image-picker-wrapper{
    margin-top: 10px;
    height: 300px;
}

.event-pictures .image-picker-inner{
    position: relative;
}

.event-pictures .image-picker-select-button{
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    width: 50%;
}

.event-pictures img{
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
}

.event-pictures img.selected{
    border-color: #558ace;
}

.navbar-form .form-group{
    margin-right: 10px;
}

.recent-work-inner{
    top: 0;
    background: #3e5b8c;
    opacity: .8;
    width: 100%;
    border-radius: 0 0 10px 10px !important;
    margin-bottom: 0;
    position: absolute;
    left: 0;
}

.h1-height{
    height: 36px;
}

.recent-work-wrap img{
    height: 100%;
}
.regcover{
    background-image: url(https://static.pexels.com/photos/7432/pexels-photo.jpg);
    background-size: cover;
}
@media screen and (max-width: 768px){


  .regcover{
      background-image: none ;
  }

}
