body{
    background: #e6e6e6;
}
nav.navbar{
    background:#3e5b8c;
}

#footer{
    background: #263652;
    position: relative;
    bottom: 0;
    width: 100%;
}

#recent-works{
    padding: 0;
}

.content-container{
    background: #fff;
    padding-bottom: 100px;
    min-height: 481px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #263652
}

.navbar-inverse .navbar-nav .dropdown-menu{
    background: #263652
}

.navbar-inverse .navbar-nav > li.dropdown{
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a{
    background:#3e5b8c;
}

h1{
    color:#333;
}

.event-details {
  padding: 10px;
}

.capacity {
  float: left;
}

.rsvp {
float: right;
}

.recent-work-wrap {
  height: 15em;
  overflow: hidden;
}
.portfolio-item {
  padding: 0 0 8% 0;
}

.recent-work-wrap .overlay {
  opacity: 1;
  background: none;
}

.navbar-logo {
  background-image: url(/images/logo.png);
  background-size: 130px 36px;
  width: 130px;
  height: 36px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
  margin-top: 10%;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

  .navbar-logo {
    background-image: url(/images/logo-hires.png);
    background-size: 130px 36px;
  }

}
