body{
    background: #e6e6e6;
}
nav.navbar{
    background:#3e5b8c;
}

#footer{
  background: #ffffff;
  position: relative;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e6e6e6;
  color: #777;

}
#footer a{
  color: #777;
  font-weight: bold;
}
#recent-works{
    padding: 0;
}

.content-container{
    background: #fff;
    padding-bottom: 100px;
    min-height: 481px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #263652
}

.navbar-inverse .navbar-nav .dropdown-menu{
    background: #263652
}

.navbar-inverse .navbar-nav > li.dropdown{
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a{
    background:#3e5b8c;
}

h1{
    text-align: center;
    color:#333;
}

.event-details {
  padding: 10px;
}



.recent-work-wrap {
  height: 15em;
  overflow: hidden;
}
.portfolio-item {
  padding: 0 0 8% 0;
}



.navbar-logo {
  background-image: url(/images/logo.png);
  background-size: 130px 36px;
  width: 130px;
  height: 36px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

  .navbar-logo {
    background-image: url(/images/logo-hires.png);
    background-size: 130px 36px;
  }

}

.event-image{
    width: 100%;
}
.choose-image{
  padding: 0;
overflow:hidden;

    width: 100%;
}

#google-map{

    height: 16em;

}

.event-pictures .image-picker-wrapper{

}

.event-pictures .image-picker-inner{
    position: relative;
}

.event-pictures .image-picker-select-button{
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    width: 50%;
}

.event-pictures img{
  height: 100px;

    width: 100%;
    overflow: hidden;

    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    border: 1px solid #cccccc;
border-radius: 5px;
cursor: pointer;

}

.event-pictures img.selected{
    border-color: #558ace;
}
.navbar-form .form-group{
    margin-right: 10px;
}

.recent-work-wrap .recent-work-inner{
    bottom: 0;
    top: auto;
    background: rgba(26, 25, 24, 0.52);
    width: 100%;
    border-radius: 0 0 ;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    padding: 0 20px;

}

.h1-height{
    height: 36px;
}

.recent-work-wrap img{
   width:100%;
   height:100%;
   object-fit: cover;
   overflow: hidden;
}
.recent-work-wrap {
  border-radius: 4px
}

.event-details a.btn.btn-default{
  padding: 2px 8px;
}

.post_reply_comments{
  padding: 15px;
}

.post_reply_comments p{
  padding-bottom: 0px;
}
.message_heading{
  margin: 0px;
}
#main-contact-form button.btn.btn-primary.btn-lg{
  margin: 0px;
}

.react-datepicker__input-container #date {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.react-datepicker__input-container {
    display: block;
    width: 100%;
    height: 34px;
}
.react-datepicker{
    font-size: 1.2rem !important;
    font-family: inherit !important;
}
.react-datepicker__today-button{
    background: #fff !important;
}
.react-datepicker__current-month{
    font-size: 1.2rem !important;
    font-family: inherit !important;
}
.react-datepicker__day-name, .react-datepicker__day{
    margin: 0.2rem !important;
    width: 2.3rem !important;
    line-height: 2.3rem !important;
    height: 100%;
}

.list-of-users-form{
    width: 100%;
    margin-bottom: 25px;

}

.list-of-users-form thead{
    font-weight: 700;
}

.list-of-users-form tbody tr.pending{
    background-color: #fff;
}


.regcover{
    background-image: url(https://static.pexels.com/photos/28017/pexels-photo-28017.jpg);
    background-size: cover;
}
@media screen and (max-width: 768px){


  .regcover{
      background-image: none ;
  }
  .white-bg{

      position: relative;
      padding: 0;
      margin-top: 0;
      border-radius: 0;
  }

}
.white-bg{
    background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    padding: 0 5% 5% 5%;
    margin-top: 10%;
    border-radius: 10px;
}

.profile-avatar{
  border-radius: 500px;
  margin: 15%;
}
@media screen and (max-width: 767px)  {

  .profile-avatar{
    max-width: 20%;
    margin: 10% 0 0 10%;
  }

}

.top-buffer {
   margin-top:20px;
 }

 .top-filter-buffer {
    margin-top:0px;
  }

 .profile-rating {
   font-size: 3em;
   font-weight: bold;
   line-height: 2em;
  }
  .btn-success:focus {
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
  }


  .first-header-row{
      margin-top: 20px;
  }

  .navbar-form #errors{
      color: #ff3e3e
  }

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}
.add-comment-button{
    width: 200px;
}

.second-row-detail-page {
    margin-top: 100px;
}

.circle{
    width:20px;
    height:20px;
    border-radius:10px;
    font-size:20px;
    line-height:200px;
    text-align:center;
    margin: auto;
}

.circle.circle-green{
    background-color: green;
}

.circle.circle-red{
    background-color: red;
}
.circle.circle.neutral{
    background-color: wheat;
}

.no-margin-top{
    margin-top: 0;
}
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

.form-wrapper {
    width: 470px;
    padding: 15px;
    margin: auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.search-form {
  margin: 10px 0px 30px 0px;

}

.form-wrapper input {
    width: 330px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #3e5b8c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #3e5b8c;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #3e5b8c;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #3e5b8c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #3e5b8c;
}

.form-wrapper button:focus:before{
    border-right-color: #3e5b8c;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.filter {



  margin-bottom: 8px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 8px;
  padding-top: 10px;


}
.filter-label {
  line-height: 34px;
}

.box {
  margin-right: 10px ;
}

.navbar-nav {
    margin-top: 0px;
}

.navbar-nav>li {
     padding-bottom: 0px;
}
.navbar-inverse .navbar-brand {
    line-height: 30px;
}
.navbar-avatar {
    width: 30px;
    height: 30px;
}
.navbar-form {
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar {
    padding: 8px 0;
}
.create-new-event {
    border: 3px solid #3e5b8c;
}
.create-new-event h3{
    font-size: 1.7em;
    color: #3e5b8c;
}
.create-new-event p{
    color: #3e5b8c;
}
.create-new-event img{
    height: 40%;
    width: auto;
    margin-top: 2.7em;
}

#portfolio {
    padding: 0 15px;
}
.navbar-form #errors {
    color: rgba(242,242,242,1);
    line-height: 3em;
    position: absolute;
    top: 55px;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: 1000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
@media (min-width: 768px) {
  #footer {
    width: 750px;
  }
}
@media  (min-width: 992px) {
  #footer {
    width: 970px;
  }
}
@media  (min-width: 1200px) {
  #footer {
    width: 1170px;
  }
}
.not-logged {
    background-color: rgb(255, 246, 190);
    padding: 10px;
    font-weight: normal;
    font-size: 1em;
    color: rgb(152, 147, 114);
    text-align: center;
    border: 1px solid rgb(216, 208, 161);
    border-radius: 5px;
}
.header-text {
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 8px;
}
.mapa{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
.event-pictures .image-picker-wrapper {
    float: left;
}
.img-wrap {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}
.center-text {
    text-align: center;
}
.event-name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 0;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
.event-name-inner {
  bottom: 0;
  top: auto;
  background: rgba(26, 25, 24, 0.52);
  width: 100%;
  border-radius: 0 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  padding: 0 20px;
}
.event-name-wrap {
  height: 18em;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.event-name-wrap img{
width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}
.tag-cloud li a{
  background: none;
  color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 7px;
  padding: 3px 10px;
  margin-right: 8px;
}

.event-name-inner H1{
    color: #e7e7e7;
}

ul.tag-cloud, ul.sidebar-gallery {
    list-style: none;
    padding: 0;
    margin: 0 0 20px  0;
}

.post_reply_comments:before {
    left: 30px;
    border-color: transparent #f5f5f5 transparent transparent;
    top: 25px;
}
.post_comments img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.comments-add {

    margin-top: 15px;
}
.post_reply_comments p {
    padding-bottom: 0px;
    margin: 0;
}
.comment-time {
  color: #ccc;
  font-size: 0.9em;
}
.comment-name {
  color: #777;
  font-weight: bold;
}
.event-description {
  margin-bottom: 20px;
    margin-left: 80px;
}
  .table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
    border: none;
}
.user-state {
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 5px;
}
.event-back {
  background: none;
  border: 2px solid;
  color: rgba(255, 255, 255, 0.86);
}
