body{
    background: #e6e6e6;
}
nav.navbar{
    background:#3e5b8c;
}

#footer{
    background: #263652;
    position: relative;
    bottom: 0;
    width: 100%;
}

#recent-works{
    padding: 0;
}

.content-container{
    background: #fff;
    padding-bottom: 100px;
    min-height: 481px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background: #263652
}

.navbar-inverse .navbar-nav .dropdown-menu{
    background: #263652
}

.navbar-inverse .navbar-nav > li.dropdown{
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a, .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a, .navbar-inverse .navbar-nav .dropdown-menu > li.active > a{
    background:#3e5b8c;
}

h1{
    text-align: center;
    color:#333;
}

.event-details {
  padding: 10px;
}



.recent-work-wrap {
  height: 15em;
  overflow: hidden;
}
.portfolio-item {
  padding: 0 0 8% 0;
}



.navbar-logo {
  background-image: url(/images/logo.png);
  background-size: 130px 36px;
  width: 130px;
  height: 36px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

  .navbar-logo {
    background-image: url(/images/logo-hires.png);
    background-size: 130px 36px;
  }

}

.event-image{
    width: 100%;
}
.choose-image{
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
}

#google-map{
    margin-top: 20px;
    height: 270px;
}

.event-pictures .image-picker-wrapper{
    margin-top: 10px;
    height: 300px;
}

.event-pictures .image-picker-inner{
    position: relative;
}

.event-pictures .image-picker-select-button{
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    width: 50%;
}

.event-pictures img{
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
}

.event-pictures img.selected{
    border-color: #558ace;
}
.navbar-form .form-group{
    margin-right: 10px;
}

.recent-work-wrap .recent-work-inner{
    bottom: 0;
    top: auto;
    background: rgba(26, 25, 24, 0.52);
    width: 100%;
    border-radius: 0 0 ;
    margin-bottom: 0;
    position: absolute;
    left: 0;
}

.h1-height{
    height: 36px;
}

.recent-work-wrap img{
   width:100%;
   height:100%;
   object-fit: cover;
   overflow: hidden;
}
.recent-work-wrap {
  border-radius: 4px
}

.event-details a.btn.btn-default{
  padding: 2px 8px;
}

.post_reply_comments{
  padding: 15px;
}

.post_reply_comments p{
  padding-bottom: 0px;
}
.message_heading{
  margin: 0px;
}
#main-contact-form button.btn.btn-primary.btn-lg{
  margin: 0px;
}

.react-datepicker__input-container #date {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.react-datepicker__input-container {
    display: block;
    width: 100%;
    height: 34px;
}
.react-datepicker{
    font-size: 1.2rem !important;
    font-family: inherit !important;
}
.react-datepicker__today-button{
    background: #fff !important;
}
.react-datepicker__current-month{
    font-size: 1.2rem !important;
    font-family: inherit !important;
}
.react-datepicker__day-name, .react-datepicker__day{
    margin: 0.2rem !important;
    width: 2.3rem !important;
    line-height: 2.3rem !important;
}

.regcover{
    background-image: url(https://static.pexels.com/photos/28017/pexels-photo-28017.jpg);
    background-size: cover;
}
@media screen and (max-width: 768px){


  .regcover{
      background-image: none ;
  }
  .white-bg{

      position: relative;
      padding: 0;
      margin-top: 0;
      border-radius: 0;
  }

}
.white-bg{
    background-color: rgba(255, 255, 255, 0.82);
    position: absolute;
    padding: 0 5% 5% 5%;
    margin-top: 10%;
    border-radius: 10px;
}

.profile-avatar{
  border-radius: 500px;
  margin: 15%;
}
@media screen and (max-width: 767px)  {

  .profile-avatar{
    max-width: 20%;
    margin: 10% 0 0 10%;
  }

}

.top-buffer {
   margin-top:20px;
 }
 .profile-rating {
   font-size: 3em;
   font-weight: bold;
   line-height: 2em;
  }
